<div *ngIf="openDiv" class="w-25 mr-auto ml-auto bg-info pt-2 pr-2 pl-2 pb-2 mt-2">
 
      
     >
          

 <form>


      <mat-form-field>
            <mat-label>Date of Payment</mat-label>
               <input matInput [matDatepicker]="picker" placeholder="Choose a date">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>


      <mat-form-field class="example-full-width">
            <input matInput placeholder="Payment Amount">
          </mat-form-field>

   
       
 
 

    <input type="submit"  class="btn btn-primary btn-block" value="Submit" >

 </form>
 </div>