<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <h5><i class="fa fa-check"></i>
    Back to Dashboard</h5></a>

    <button mdbBtn color="primary" (click)="openModal()">Open modal</button>

  </div>

  
  <div class="col-md-6">
      <div class="btn-group pull-right">
        <a routerLink="/client/edit/{{id}}" class="btn btn-dark">
        Edit</a>
        <button (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
  </div>
</div>

<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Make Payment</button>



<div mdbModal #frame="mdbModal" class="modal fade top pop" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Client Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInput>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

          <div>
          <form>
            <mat-form-field>
            <mat-label>Date of Payment</mat-label>
               <input matInput [matDatepicker]="picker" placeholder="Choose a date">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
          </form>
        </div>   

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control validate"
            mdbInput>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>




<hr>
  <div *ngIf="client" class="card ">

    <div>

        
      
        <h3 class="card-header">{{client.firstName}} {{client.lastName}}
      
        <h5 class="pull-right mt-1">Balance: {{client.balance | currency:"USD":"symbol"}}
          <small>
            <a (click) ="open()">
              <i class="fa fa-pencil-square"></i>
            </a>
          </small>
        </h5>

        </h3>
          
      
    </div>   
  </div>


<app-modal-payment></app-modal-payment>

asdfasdf




  